@import "../components/ChatMessage/ChatMessage.scss";
@import "../components/ChatPrompt/ChatPrompt.scss";

[data-amplify-theme] {
  color: var(--amplify-colors-font-primary);
}

.amplify-textarea {
  transition: none;
}

.app-header {
  padding-inline: var(--amplify-space-large);
  padding-block: var(--amplify-space-small);
  border-bottom: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-tertiary);
}

.app-sidebar {
  border-inline-end: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-tertiary);
}

.icon-button {
  font-size: 1rem;
}

// .amplify-textarea,
// .amplify-input {
//   &:focus {
//     box-shadow: 0 0 1rem
//         color-mix(in srgb, var(--amplify-colors-primary-20), transparent 50%),
//       inset 0 0 1rem
//         color-mix(in srgb, var(--amplify-colors-primary-20), transparent 50%);
//   }
// }

.amplify-button--primary {
  // border: 1px solid var(-)
}

.amplify-button--menu {
  // border-radius: 0;
  --amplify-components-button-border-radius: var(--amplify-radii-medium);
}

.amplify-menu__trigger {
  border-width: 0;
}

// a {
//   color: var(--amplify-colors-font-interactive);
// }
